/*
Theme Name: Woostify Child
Theme URI: https://woostify.com/
Description: Woostify WordPress theme example child theme.
Author: Woostify
Author URI: https://woostify.com/
Template: woostify
Version: 1.0.1
*/

/* =Theme customization starts here
-------------------------------------------------------------- */